<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == searchType || column.key == 'all'}"/>
<!-- BONUS 1a: Modify the view template to keep the previous search field selected when displaying the results.
            I replaced the th:checked line below with the one above to keep the checked box on the selected searchType.
            I then had to add the  || column.key == 'all'  to ensure the page loaded with an initial default All selected.-->
<!--    th:checked="${column.key == 'all'}"/>-->  <!-- This starter code had radio checkbox return to All when clicked. -->

<!-- NOTE: I found this code in my research, onclick="history.go(-1);",  but it just reloaded previous search/list page.  -->

                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
<!--            <input type="text" name="searchTerm" id="searchTerm"/>-->
<!-- BONUS 1b: I modified the starter input line above with line below by adding th:value to keep search box field populated w/ most recent entry. -->
            <input type="text" name="searchTerm" id="searchTerm" th:value="${searchTerm}"/>

        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <!--    Task 4 EXTRA - Created a fragment called 'job-results' in the list-jobs.html file <table> tag. Then used
     th:replace here to utilize same display code, such that the code further down is unnecessary/redundant. I would
     have put the fragment into the fragments.html file, and use th:replace in the list-jobs.html file as well, but the
      book said to do it in list-jobs.html file, so I did. -->
    <p th:replace="list-jobs :: job-results"></p>

</div>

</body>
</html>


<!-- Code below was original work for Task 4 above, but when book said to make a fragment, I moved it down/commented it off.-->

    <!--Task 4 - Display Search Results -->

<!--    <table class="job-listing" th:each="job : ${jobs}"> &lt;!&ndash; Attribute 'jobs' from displaySearchResults() in SearchController.java file.   &ndash;&gt;-->
<!--        &lt;!&ndash;  NOTE:  Reused list-jobs.html code I created for Task Two, per book directions. &ndash;&gt;-->
<!--        <tr>-->
<!--            <td>ID</td>-->
<!--            <td th:text="${job.id}"></td>  &lt;!&ndash; (job of jobs) above is Job type, so access to Job.java class fields directly. &ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Name</td>-->
<!--            <td th:text="${job.name}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Employer</td>-->
<!--            <td th:text="${job.employer}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Location</td>-->
<!--            <td th:text="${job.location}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Position Type</td>-->
<!--            <td th:text="${job.positionType}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Skill</td>-->
<!--            <td th:text="${job.coreCompetency}"></td>-->
<!--        </tr>-->
<!--    </table>-->
